# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\计算机项目\Master-s-Thesis\javaVMStackSOF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
